# Ignorar archivos y carpetas de MySQL
db_data/
*.sock

# Ignorar configuraciones de entorno
.env

# Ignorar archivos temporales de Python
__pycache__/
*.pyc

# Ignorar carpetas de logs y temporales
*.log
*.tmp

# Ignorar archivos del sistema
.DS_Store
Thumbs.db
